/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 100vw;
    height: 70px;
    background-color: rgb(10, 255, 67);
    font-size: 17px;
}