/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 38, 38);
    flex-direction: column;
}
.main-introduce {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.main-introduce-text-container {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    position: absolute;
    z-index: 2;
}
.main-introduce-backText-container {
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index:1;
}
.main-introduce-text {
    font-size: 45px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    line-height: 55px;
}
.main-introduce-backText {
    text-align: center;
    font-size: 120px;
    font-weight: 800;
    color: rgb(255, 255, 255,0.2);
}

.main-introduce-text-name {
    font-weight: 700;
    color: rgb(10, 255, 67);
}
.main-scroll {
    color: white;
    position: absolute;
    bottom: 50px;
    font-size: 40px;
    animation: scrollAni 1.5s ease-in-out infinite;
}
@keyframes scrollAni {
    0% {
        bottom: 65px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 65px;
    }
}
.main-scroll-icon {
    font-size: 30px;
    color: white;
}