/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-nav-margin {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-container {
    width: 500px;
    height: 120px;
    background-color: blue;
    border-radius: 100px;
    position: fixed;
    top: 50px;
    left: -440px;
    /* left: 0px; */
    cursor: pointer;
}
.menu-container:hover {
    left: -50px;
    transition: all 1s ease-out;
}
.menu-nav {
    list-style: none;
    background-color: white;
    font-size: 26px;
    font-weight: 800;
    /* margin-right: 40px; */
}

.nav-main {

}