
.menu-container {
    width: 400px;
    height: 120px;
    background-color: blue;
    border-radius: 100px;
    position: fixed;
    top: 50px;
    left: -350px;
    /* transform: translateX(-10px); */
    /* transform: translateX(-1000px); */
}
