/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-nav {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    height: 28px;
}
.nav-home {
    width: 30px;
}
.nav-skill {
    width: 40px;
}
.nav-aboutMe, .nav-project {
    width: 80px;
}
 .common-nav:hover {
    background-color: rgb(38, 38, 38);
    color: rgb(10, 255, 67);
 }
.menu-container {
    position: fixed;
    top: 30px;
    z-index: 999;
}
.menu-nav {
    height: 47px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
    border: 4px solid rgb(38, 38, 38);
}
.menu-ul {
    list-style: none;
}