/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-container {
    width: 100vw;
    /* height: 100vh; */
    /* height: 1400px; */
    background-color: rgb(38, 38, 38);
    /* background-color: blue; */
    flex-direction: column;
}

.projectTitle-container {
    width: 100%;
    height: 80px;
    color: rgb(10, 255, 67);
    font-size: 50px;
    font-weight: 800;
    /* margin-top: 70px; */
    margin-bottom: 70px;
}

.projectCard-container {
    /* width: 90%; */
    /* height: 90%; */
    width: 70%;
    /* height: 100%; */
    /* background-color: blue; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.projectCard {
    width: 350px;
    height: 480px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin: 20px;
    padding: 25px;
    /* position: relative; */
    /* perspective: 1000px; */
    perspective: 1000px;
}
.projectCard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    /* -webkit-transform-style: preserve-3d; */
    transform-style: preserve-3d !important;;
  }
.projectCard-front {
    /* position: absolute; */
    /* width: 100%; */
    /* backface-visibility: hidden; */
    /* position: absolute; */
    /* transform: rotateY(180deg); */
    /* z-index: 1; */
}
.projectCard-front, .projectCard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
}



.projectCard-back {
    background-color: green;
    transform: rotateY(180deg);
    z-index: 1;
    font-size: 50px;
}

.projectCard:hover .projectCard-inner {
    transform: rotateY(180deg);
}
.projectCard-img {
    width: 100%;
    height: 200px;
}

.projectCard-AppImg {
    width: 80%;
    height: 230px;
    /* border: 5px solid rgb(0, 0, 0); */
}

.projectCard-name {
    font-weight: 700;
    margin-bottom: 10px;
}
.projectCard-about {
    width: 100%;
    height: 130px;
    /* background-color: blue; */
    line-height: 25px;
}
.projectCard-skill {
    position: absolute;
    bottom: 20px;
    z-index: 0;
}




