/* 공통으로 사용되는 속성 */
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-container {
    width: 100vw;
    /* height: 1500px; */
    background-color: rgb(38, 38, 38);
    flex-direction: column;
}

.projectTitle-container {
    width: 100%;
    height: 80px;
    color: rgb(10, 255, 67);
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 70px;
}


.projectCard-container {
    width: 70%;
    height: 100%;
    background-color: green;
    flex-wrap: wrap;
    overflow: hidden;
}
.projectCard-list {
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projectCard-img {
    width: 350px;
    height: 220px;
}
.projectCard-AppImg {
    width: 250px;
    height: 250px;
}
.projectCard-projectName {
    font-size: 18px;
    font-weight: 700;
}