* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
  overflow-x: hidden; /*가로스크롤 숨기기*/   
}
.App {
  /* box-sizing: border-box; */
  /* width: 100vw;
  height: 100vh;
  background-color: grey; */
}